<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a [routerLink]="['']" class="navbar-brand">PonyRacer</a>
    <button type="button" class="navbar-toggler" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse" [class.collapse]="navbarCollapsed()">
      @if (user()) {
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a [routerLink]="['/races']" class="nav-link">Races</a>
          </li>
        </ul>
      }
      @if (user()) {
        <ul class="navbar-nav">
          <li class="navbar-text">
            <span id="current-user" class="me-2">
              {{ user()?.login }}
              <span class="fa fa-star"></span>
              {{ user()?.money | number }}
            </span>
          </li>
          <li class="nav-item">
            <button (click)="logout()" id="logout-link" type="button" class="btn nav-link" aria-label="Logout">
              <span class="fa fa-power-off"></span>
            </button>
          </li>
        </ul>
      }
    </div>
  </div>
</nav>
